<section class="relative mb-6 h-80 flex justify-center items-center">
    <div class="absolute w-full h-full overflow-hidden">
        <video>
            <source src="" />
            <source src="" type="" />
        </video>
    </div>
    <div class="z-10 text-center px-8 drop-shadow-lg shadow-black">

    </div>
</section>